<div class="page-header">
<h1>과제 제출</h1>
</div>
<%=form_tag "/submission/create", multipart: true, class: "form-horizontal" do %>
  <div class="control-group">
    <label class="control-label" for="assignment_id">과제</label>
    <div class="controls">
      <%=select_tag "assignment_id", options_from_collection_for_select(@assignments, "id", "title", params[:assignment_id]) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="file">파일</label>
    <div class="controls">
      <%=file_field_tag "file" %>
      <span id="filename" class="help-block"></span>
    </div>
  </div>
  <div id="report_row" class="control-group">
    <label class="control-label" for="file">보고서</label>
    <div class="controls">
      <%=file_field_tag "report" %>
      <span class="help-block">Report.pdf</span>
    </div>
  </div>
  <div class="form-actions">
    <%=submit_tag "제출", class: "btn btn-primary" %>
  </div>
<% end %>
<div>
  같은 과제에 대해 기한 내에 여러 번 제출하시는 경우 해당 제출 기간의 마지막 제출 파일이 채점 대상이 되며, 제출 기한에 따른 채점 결과 중 가장 높은 점수가 최종 반영됩니다.
</div>
<div>
  과제 4의 경우, 코드와 보고서에 대한 딜레이가 별도로 적용됩니다. 재제출 기간에 코드 또는 보고서 중 하나만 새로 제출하기를 원하시는 경우, 다른 파일은 기존의 파일로 제출하시고 어떤 파일을 새로 제출했는지를 ds_ta@soar.snu.ac.kr로 알려주시기 바랍니다.
</div>
<script type="text/javascript">
var filename = {<%=raw @assignments.map{|a| "\"#{a.id}\":\"#{a.code}.java\""}.join(",")%>};
var report = {<%=raw @assignments.map{|a| "\"#{a.id}\":#{a.report}"}.join(",")%>};
$("#assignment_id").change(function() {
  var index = $("#assignment_id option:selected").attr("value");
  $("#filename").text(filename[index]);
  if (report[index])
    $("#report_row").show();
  else
    $("#report_row").hide();
}).change();
</script>
