<% if @exam.published and @score %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>채점 기준</th>
      <th>점수</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">총점</td>
      <td><%=@score.flatten.inject(:+)%></td>
    </tr>
  </tfoot>
  <tbody>
<% @criterion.each_with_index do |c, i| %>
  <% c.each_with_index do |cc, j| %>
    <tr>
      <%=raw "<td rowspan=\"#{c.size+1}\">#{i+1}</td>" if j == 0%>
      <td><%=raw cc%></td>
      <td><%=@score[i][j]%></td>
    </tr>
  <% end %>
    <tr>
      <td>합계</td>
      <td><%=@score[i].inject(:+)%></td>
    </tr>
<% end %>
  </tbody>
</table>
<% else %>
<pre>
채점 결과가 등록되지 않았습니다.</pre>
<% end %>
