<!DOCTYPE html>
<html>
<head>
  <title>SustainableAssistance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Assignment Submission Page</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/assignments/1">Assignments</a></li>
              <li><a href="/submission/list">Submit</a></li>
              <li><a href="#">Status</a></li>
            </ul>
          </div>
<% if session[:user_id] %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%=session[:username] %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/edit_password">비밀번호 변경</a></li>
              <li><a href="/user/logout">로그아웃</a></li>
            </ul>
          </div>
<% else %>
          <form action="/user/login" class="navbar-form pull-right">
            <input class="span2" type="text" name="username" placeholder="사용자명">
            <input class="span2" type="password" name="password" placeholder="비밀번호">
            <button type="submit" class="btn">로그인</button>
          </form>
<% end %>
        </div>
      </div>
    </div>

    <div id="content" class="container">

<%= content_for?(:content) ? yield(:content) : yield %>

    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">Built with <a href="http://rubyonrails.org">Rails</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Source code is available at <a href="https://github.com/operatz/sustainable_assistance">Github</a>.</p>
    </div>
  </div>
</body>
</html>
