<% content_for :content do %>
<div class="row">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">과제 제출</li>
        <li<%= raw " class=\"active\"" if params[:action] == "list" %>><a href="/submission/list">제출 목록</a></li>
        <li<%= raw " class=\"active\"" if params[:action] == "new" %>><a href="/submission/new">과제 제출</a></li>
        <li<%= raw " class=\"active\"" if params[:action] == "score" %>><a href="/submission/score">결과 확인</a></li>
      </ul>
    </div>
  </div>
  <div class="span9">
<%= yield %>
  </div>
</div>
<% end %>
<%= render :template => 'layouts/application' %>
